*{
    margin: 0;
    padding: 0;
    font-family: 'Brush Script MT', 'cursive';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(160deg, #ee4266, #2a1e5c);
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 540px;
    background: #0a0f0d;
    margin: 100px auto 20px;
    padding: 40px 30px  70px;
    border-radius: 10px;
    
}
img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.todo h2{
    color: #c4cbca;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.rows{
   display: flex    ;
   align-items: center;
   justify-content: space-between;
   background: #c4cbca;
   border-radius: 30px;
   padding-left: 20px;
   margin-bottom: 25px;
}
input{
   flex: 1;
   border: none;
   outline: none;
   background: transparent;
   padding: 10px;
}
button{
   border: none;
   outline: none;
   padding: 16px 50px;
   background: #3CBBB1;
   color: #0a0f0d;
   font-size: 16px;
   cursor: pointer;
   border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color:#c4cbca;
}
ul li::before{
    content: '';
    position: absolute;
    height:28px;
    width: 28px;
    background-image: url(uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:#c4cbca;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(check.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#c4cbca;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: gray;
}